#jinja2: lstrip_blocks: "True (or False)", trim_blocks: "True (or False)"
global
    daemon
    maxconn 10000
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
defaults
    mode http
    log global
    option httplog
    option forwardfor
    option redispatch
    retries 3
    timeout http-request 20s
    timeout queue 1m
    timeout connect 20s
    timeout client 1m
    timeout server 1m
    timeout check 30s
listen stats
    bind 0.0.0.0:8995
    stats enable
    stats uri /
    stats auth {{ haproxy_user }}:{{ haproxy_passwd }}
    stats refresh 15s
    stats realm Haproxy\ Statistics
frontend elasticsearch
    bind {{ master_node }}
    acl is_delete method DELETE
    http-request deny if is_delete
    default_backend elasticsearch
backend elasticsearch
    balance roundrobin
    option httpclose
    {% set count = [0] %}
    {% for elastic_host in host_lists %}
    {% set __ = count.append(1) %}
    server controller0{{ count | length }} {{ elastic_host.node_ip }}:{{ http_port }} weight 1 check inter 1000 rise 2 fall 5
    {% endfor %}